<nav class="container">
  <ul>
    <li *ngFor="let link of adminLinks">
      <a href="{{ link.href }}">{{ link.name }}</a>
    </li>
  </ul>
  <ul>
    <li *ngFor="let link of links">
      <a href="{{ link.href }}">{{ link.name }}</a>
    </li>
  </ul>
  <ul>
    <li *ngFor="let link of socialLinks">
      <a href="{{ link.href }}">{{ link.name }}</a>
    </li>
  </ul>
  <div>
    <address>
      <div>
        {{ address.name }},
        <br />
        {{ address.street }},
        <br />
        {{ address.zip }} {{ address.city }}
      </div>
      <div class="phone">
        <a href="tel:{{ address.phone }}">{{ address.phone }}</a>
      </div>
    </address>
  </div>
</nav>
