<section *ngFor="let dishesGroup of dishesGroups" [id]="dishesGroup.groupName | lowercase">
  <h1>{{ dishesGroup.groupName | titlecase}}</h1>
  <div class="container">
    <div class="card" *ngFor="let dish of dishesGroup.dishes">
      <div class="card-header">
        <div class="dish-title">{{dish.name}}</div>
        <div class="dish-price">{{dish.price}}</div>
      </div>
      <div class="card-img">
        <img [src]="dish.img" width="70%" />
      </div>
      <div class="card-content">
        <span>{{dish.composition}}</span>
      </div>
    </div>
  </div>
</section>
