<section *ngFor="let dishesGroup of dishesGroups" [id]="dishesGroup.groupName | lowercase">
  <h1>{{ dishesGroup.groupName | titlecase}}</h1>
  <div class="container">
    <mat-card *ngFor="let dish of dishesGroup.dishes" >
      <mat-card-header>
        <mat-card-title>{{dish.name}}</mat-card-title>
        <mat-card-subtitle>{{dish.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="dish.img" />
      <mat-card-content>
        <p>{{dish.composition}}          
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
