<div class="container">
  <div class="logo">
    <a href="#assiettes">{{logo}}</a>
  </div>
  <div>
    <ul>
      <li *ngFor="let link of links"><a href="{{link.href}}">{{link.name}}</a></li>
    </ul>
  </div>
  <div>
    <address>
      <div>
        {{address.name}},
        <br />
        {{address.street}},
        <br />
        {{address.zip}} {{address.city}}
      </div>
      <div class="phone">
        <a href="tel:{{address.phone}}">{{address.phone}}</a>
      </div>
    </address>
  </div>
</div>
