<nav>
    <div class="container">
        <div class="logo">
            <a href="#assiettes">Sucré Salé</a>
        </div>
        <div>
            <ul>
                <li><a href="#assiettes">ASSIETTES</a></li>
                <li><a href="#pizzas">PIZZAS</a></li>
                <li><a href="#sandwichs">SANDWICHS</a></li>
                <li><a href="#tacos">TACOS</a></li>
            </ul>
        </div>
        <div>
            <address>
                <div>
                    Sucré Salé,
                    <br>
                    8 pl 3 Rois,
                    <br>
                    60180 NOGENT SUR OISE
                </div>
                <div class="phone"> 
                    <a href="tel:+33344530517">03 44 53 05 17</a>
                </div>
            </address>
        </div>
    </div>
</nav>