<mat-toolbar color="primary">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" class="mat-elevation-z6">
    <div>
      <span href="#assiettes">{{ logo }}</span>
    </div>
    <div fxLayoutGap="1rem">
      <ng-container *ngFor="let link of links">
        <a href="{{ link.href }}" mat-raised-button color="accent">{{
          link.name
        }}</a>
      </ng-container>
    </div>
    <div fxLayout="row" fxLayoutGap="1rem">
      <div fxLayoutAlign="center center">
        <mat-icon>home</mat-icon>
      </div>
      <address class="mat-caption">
        <div>
          {{ address.name }}
          <br />
          {{ address.street }}
          <br />
          {{ address.zip }} {{ address.city }}
        </div>
      </address>
      <div fxLayoutAlign="center center">
        <mat-icon>phone</mat-icon>
        <span>{{address.phone}}</span>
      </div>
      <button mat-stroked-button  [routerLink]="['/login']">CONNEXION<mat-icon>login</mat-icon></button>
    </div>
  </div>
</mat-toolbar>

