.vh-100{
  min-height: 100%;
}


.footer {
  background: var(--color-primary);
}

.sticky {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000;
}

.bottom-right {
  right: 20px;
  top: 120px;
  position: fixed;
}

main{
  padding: 2rem;
}

footer{
  padding: 1rem;
}
